<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	<!-- 全局setting配置 -->
	<settings>
		<!-- 使用log4j来记录mybatis日志 -->
    	<setting name="logImpl" value="LOG4J"/>
  	</settings>
	<!-- 配置别名
	<typeAliases>
		 批量扫描别名
		<package name="zst.core.entity"/>
	</typeAliases>-->
</configuration>
